HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

CLOUDFLARE_ACCOUNT_ID=tobemodified
CLOUDFLARE_EMAIL_API_TOKEN=tobemodified
CLOUDFLARE_EMAIL_DEFAULT_FROM=forms@mail.zerodesignstudios.com
CLOUDFLARE_EMAIL_DEFAULT_REPLY_TO=info@zerodesignstudios.com
